.item{

    height: 100px;
    width: 33%;
    margin: 5px;
    justify-content: center;

}

.btn{
    margin-top:3px;
    margin-bottom: 3px; 
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    background: #6e8a84;
    /*height: 300px;*/
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}

.containerData{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    background: #5b6d7e;
    position: relative;
    height: 100px;
}


.blockW{
display: block;
position: absolute;
left:9%;
top: 10%;

font-size: 30px;

width: 50px;
height: 50px;
/*border: 1px solid black;
*/
}


p {
    margin: 0;
    padding: 0;
}

.containerDataStart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    background: #5b6d7e;
    position: relative;
    height: 100px;
}