.item{

    height: 100px;
    width: 33%;
    margin: 5px;
    justify-content: center;

}

.btn{
    margin-top:3px;
    margin-bottom: 3px; 
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    background: #a0a0a0;
    height: 300px;
    position: relative;
    
}

.containerData{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
    background: grey;
    position: relative;
    height: 100px;
}


.blockW{
display: block;
position: absolute;
left:1%;
top: 50%;


width: 120px;
height: 120px;
border: 1px solid black;
}


/*.batia{

 position: relative;

}*/

p {
    margin: 0;
    padding: 0;
}