.item{

    height: 100px;
    width: 100px;
    background: red;
    margin: 5px;

}

.btn{
    margin-top:3px;
    margin-bottom: 3px; 
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    background: grey;
    height: 300px;
    position: relative;
    
}


.blockW{
display: block;
position: absolute;
margin: auto;
top: 50%;


width: 50px;
height: 50px;
border: 1px solid black;
}


/*.batia{

 position: relative;

}*/